* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: rgba(108, 114, 147, 0.2);
    --menu-color: #191c24;
}

body {
    font-family: system-ui, Roboto;
    height: 100vh;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 70px 1fr;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    background: var(--menu-color);
    padding: 0 20px;
}

.search {
    display: flex;
    align-items: center;
    width: clamp(200px, 75%, 1000px);
    flex-shrink: 0;

    padding: 10px 0;
}

.search .nav-link {
    padding: 0 10px;
}

.search input {
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 16px;
    height: 32px;
    width: 100%;
}

.controls {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 1rem;
}

.userName {
    color: var(--primary-color);
}

.header__bottom {
    display: flex;
}

button.nav {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.avatar {
    width: 50px;
    height: auto;
}

.avatar--big {
    width: 75px;
    height: auto;
}

.logo {
    background-color: var(--menu-color);
}

.logo__wrapper {
    padding-left: 1.25rem;

    display: flex;
    align-items: center;
    height: 70px;

    text-decoration: none;
    color: inherit;
}

.logo__wrapper svg {
    fill: var(--primary-color);
    height: 50px;
}

.logo__wrapper .logo-title {
    padding-left: 0.5rem;
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.3em;
}

.sidebar {
    grid-row: 2;
    background: var(--menu-color);
}

.nav {
    display: flex;
    flex-direction: column;
    
    list-style: none;
}

.nav-item.nav-category {
    color: var(--primary-color);
    font-weight: bold;
}

.nav-item .nav-link {
    padding: 0.5rem 10px 0.5rem 1.25rem;
    
    display: flex;
    align-items: center;
    gap: 0.75rem;

    text-decoration: none;
    color: inherit;
}

.nav-link svg {
    fill: var(--primary-color);
    width: 25px;
    height: auto;
}

.nav-item .menu-icon {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--secondary-color);
    border-radius: 100%;
}

.menu-title {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
}

.content {
    background: #000000;
    height: 100%;
}

.content__wrapper {
    height: 100%;
    padding: 1.75rem;

    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1.75rem;
}

.card {
    background: var(--menu-color);
}

.content__wrapper--left {
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 4fr;
    gap: 1.75rem;
}

.content__wrapper--right {
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1.75rem;
}

.content-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.content-item .content {
    height: 100%;
}

.content-item .item-name {
    color: var(--primary-color);
    font-weight: 700;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

.content-item .item-wrapper {
    padding: 2rem;
}

.content__wrapper .greeting-card {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar--left {
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.navbar--left .wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.navbar--left .greeting {
    color: var(--primary-color);
    font-weight: 700;
}

.navbar--left .userName {
    font-size: 2rem;
    font-weight: bold;
}

.navbar--right {
    padding-right: 40px;
}

.navbar--right .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.navbar--right .navbar-nav .nav-item .nav-link {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
}

.navbar--right .navbar-nav .nav-item .nav-link svg {
    height: 2rem;
    width: auto;
}

.content-item__wrapper {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
}

.content-item__wrapper .item-wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.content-item__wrapper .item-wrapper .item-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.content-item__wrapper .item-info .item-name {
    padding: 0;
}

.content-item__wrapper .item-info .item-description {
    color: var(--primary-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;

    overflow: hidden;
}

.content-item__wrapper .item-wrapper .controls {
    display: flex;
    justify-content: end;
}

.content__wrapper--right .anouncements {
    height: 100%;
    
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
    gap: 0.5rem;
}

.content__wrapper--right .trending {
    height: 100%;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}

.trending, .anouncements {
    padding: 1rem 2rem;
}

.anouncements .item-content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.anouncements .item-name.small {
    padding: 0;
}

.anouncements .item-description.small {
    padding: 0;
    color: var(--primary-color);

}

.divider {
    height: 1px;
    background: var(--secondary-color);
}

.trending .user-card {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trending .user-card .userName {
    font-weight: 700;
    color: var(--primary-color);
}

.trending .user-card .userDesc {
    color: var(--primary-color);
}